*{
    margin: 0px;
    padding: 0px;
    font-size: var(--fs-md);
}

::-webkit-scrollbar-track{
    background-color: #90EAEB;
}

::-webkit-scrollbar-thumb{
    background-color: black;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input{
    outline: none;
}