.table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;

    tr{
        height: 50px;
        // border-bottom: 1px dashed #072C2B;

        &:nth-child(even){
            background-color: rgba(7, 44, 43, 0.2);
        }
    }

    td{
        border-collapse: collapse;
        text-align: center;
    }
}
