.app{
    width: 100%;
    height: 100vh;
    background: url('https://wallpapers.com/images/hd/aesthetic-landscape-forest-silhouette-8ztdf3nzn4ptvwi1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}