.cardContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 10px;
    background-color: rgba(27, 105, 105, 0.075);
    border-radius: var(--br-sm);
    border: 1px dashed #1B6969;

    .progressContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0px 10px;
        
        .progress{
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            border: 2px solid #072C2B;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--fs-xxxl);
            font-weight: var(--fw-light);
        }
    }

    .informationContainer{
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            font-size: var(--fs-xxxl);
            font-weight: var(--fw-light);
            text-align: center;
        }
    }
}